.App {
  text-align: center;
}

.LyricsContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.LyricsText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 4.5em;
  color: #fff;
  text-shadow: 2px 2px 4px black;
}

.MusicPlayerContainer {
  position: absolute;
  bottom: calc(5dvh + env(safe-area-inset-bottom));
  left: 50%;
  transform: translateX(-50%);
}

.CanvasContainer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.GlassEffect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.InfoButton {
  position: absolute;
  z-index: 9;
  top: 20px;
  right: 20px;
  border-width: 2px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.InfoButton:after {
  content: '!';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.InfoPopup {
  width: 260px;
  max-width: calc(100vw - 20px);
  right: 20px;
  position: absolute;
  top: 60px;
  border-radius: 12px;
  padding: 5px 15px;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  z-index: 9;
}

@media (max-width: 550px) {

  .LyricsContainer {
    margin: auto;
    width: 90vw;
  }

  .LyricsText {
    font-size: 2.8em;
  }

  .MusicPlayerContainer > div {
    max-width: calc(100vw - 80px);
  }

  .InfoButton {
    top: 10px;
    right: 10px;
  }

  .InfoPopup {
    top: 50px;
    right: 10px;
  }

}